
{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static',filename='css/adminPageNew.css')}}">
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
{% endblock %}

{% block title %}

    <!-- slider_area_start -->

    <!-- slider_area_end -->

    <!-- welcome_clicnic_area_start -->
    <div class="welcome_clicnic_area" id="start_page">
        <div class="container">
			<center>
				<button class="boxed-btn" onclick="myFunction('line')">Line Graph</button>
				<button class="boxed-btn" onclick="myFunction('bar')">Bar Graph</button>
                <button class="boxed-btn" onclick="myFunction('pie')">Pie Chart</button>
				<a href="#map_start"><button class="boxed-btn" >Blood Donation Map</button></a>
				<a href="#predict"><button class="boxed-btn" >Predictions</button></a>
            </center>
            <br>
            <br>
			<br>
			<!-- NOICE -->
			{% for i in range(0,no_of_dis-1, 2) %}
			<div class="row align-items-start" style="margin-left: -80px;">
				<div class="col-md-5">
					<center>
						
						<h1>{{ district_name[i] }}</h1>
						<canvas id="{{district_name[i]}}" width="600" height="400"></canvas>
						<script>

						// bar chart data
						var barData = {
							labels : [
							{% for item in dates %}
								"{{ item }}",
							{% endfor %}
							],

							datasets : [{
							fillColor: "rgba(151,187,205,0.2)",
							strokeColor: "rgba(151,187,205,1)",
							pointColor: "rgba(151,187,205,1)",
							pointStrokeColor: "#fff",
							pointHighlightFill: "#fff",
							pointHighlightStroke: "rgba(151,187,205,1)",
							bezierCurve : false,
							data : [
						{% for item in district_data[i] %}
								{{ item }},
								{% endfor %}
								]
							}
					]
						}

						Chart.defaults.global.animationSteps = 50;
						Chart.defaults.global.tooltipYPadding = 16;
						Chart.defaults.global.tooltipCornerRadius = 0;
						Chart.defaults.global.tooltipTitleFontStyle = "normal";
						Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
						Chart.defaults.global.animationEasing = "easeOutBounce";
						Chart.defaults.global.responsive = false;
						Chart.defaults.global.scaleLineColor = "black";
						Chart.defaults.global.scaleFontSize = 16;

						// get bar chart canvas
						var mychart = document.getElementById("{{district_name[i]}}").getContext("2d");

						steps = 10
						max = {{ max_of_dis[i] }}
						// draw bar chart
						var LineChartDemo = new Chart(mychart).Line(barData, {
							scaleOverride: true,
							scaleSteps: steps,
							scaleStepWidth: Math.ceil(max / steps),
							scaleStartValue: 0,
							scaleShowVerticalLines: true,
							scaleShowGridLines : true,
							barShowStroke : true,
							scaleShowLabels: true,
							bezierCurve: false,
							});

						</script>
					</center>
				</div>
				<div class="col-md-2">
				</div>
				<div class="col-md-5 " >
					<center>
						
						<h1>{{ district_name[i+1] }}</h1>
						<canvas id="{{district_name[i+1]}}" width="600" height="400"></canvas>
						<script>

						// bar chart data
						var barData = {
							labels : [
							{% for item in dates %}
								"{{ item }}",
							{% endfor %}
							],

							datasets : [{
							fillColor: "rgba(151,187,205,0.2)",
							strokeColor: "rgba(151,187,205,1)",
							pointColor: "rgba(151,187,205,1)",
							pointStrokeColor: "#fff",
							pointHighlightFill: "#fff",
							pointHighlightStroke: "rgba(151,187,205,1)",
							bezierCurve : false,
							data : [
						{% for item in district_data[i+1] %}
								{{ item }},
								{% endfor %}
								]
							}
					]
						}

						Chart.defaults.global.animationSteps = 50;
						Chart.defaults.global.tooltipYPadding = 16;
						Chart.defaults.global.tooltipCornerRadius = 0;
						Chart.defaults.global.tooltipTitleFontStyle = "normal";
						Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
						Chart.defaults.global.animationEasing = "easeOutBounce";
						Chart.defaults.global.responsive = false;
						Chart.defaults.global.scaleLineColor = "black";
						Chart.defaults.global.scaleFontSize = 16;

						// get bar chart canvas
						var mychart = document.getElementById("{{district_name[i+1]}}").getContext("2d");

						steps = 10
						max = {{ max_of_dis[i+1] }}
						// draw bar chart
						var LineChartDemo = new Chart(mychart).Line(barData, {
							scaleOverride: true,
							scaleSteps: steps,
							scaleStepWidth: Math.ceil(max / steps),
							scaleStartValue: 0,
							scaleShowVerticalLines: true,
							scaleShowGridLines : true,
							barShowStroke : true,
							scaleShowLabels: true,
							bezierCurve: false,
							});

						</script>
					</center>
				</div>
				
			</div>
			{% endfor %}
			<div class="row align-items-start " style="margin-left: -80px;">
				<div class="col-md-3"></div>
				<div class="col-md-6">
					
					<center>
						
						<h1>{{ district_name[no_of_dis-1] }}</h1>
						<canvas id="{{district_name[no_of_dis-1]}}" width="600" height="400"></canvas>
						<script>

						// bar chart data
						var barData = {
							labels : [
							{% for item in dates %}
								"{{ item }}",
							{% endfor %}
							],

							datasets : [{
							fillColor: "rgba(151,187,205,0.2)",
							strokeColor: "rgba(151,187,205,1)",
							pointColor: "rgba(151,187,205,1)",
							pointStrokeColor: "#fff",
							pointHighlightFill: "#fff",
							pointHighlightStroke: "rgba(151,187,205,1)",
							bezierCurve : false,
							data : [
						{% for item in district_data[no_of_dis-1] %}
								{{ item }},
								{% endfor %}
								]
							}
					]
						}

						Chart.defaults.global.animationSteps = 50;
						Chart.defaults.global.tooltipYPadding = 16;
						Chart.defaults.global.tooltipCornerRadius = 0;
						Chart.defaults.global.tooltipTitleFontStyle = "normal";
						Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
						Chart.defaults.global.animationEasing = "easeOutBounce";
						Chart.defaults.global.responsive = false;
						Chart.defaults.global.scaleLineColor = "black";
						Chart.defaults.global.scaleFontSize = 16;

						// get bar chart canvas
						var mychart = document.getElementById("{{district_name[no_of_dis-1]}}").getContext("2d");

						steps = 10
						max = {{ max_of_dis[no_of_dis-1] }}
						// draw bar chart
						var LineChartDemo = new Chart(mychart).Line(barData, {
							scaleOverride: true,
							scaleSteps: steps,
							scaleStepWidth: Math.ceil(max / steps),
							scaleStartValue: 0,
							scaleShowVerticalLines: true,
							scaleShowGridLines : true,
							barShowStroke : true,
							scaleShowLabels: true,
							bezierCurve: false,
							});

						</script>
					</center>
				
				</div>
				<div class="col-md-3 " ></div>
				
			</div>
			<!-- /NOICE -->
            <!-- <div class="row align-items-center">
			  <div class="col-md-3" style="height: auto;"></div>			
				<div class="col-md-6" id="bar_graph">
                    {% for i in range(0,no_of_dis) %}
					<center>
						
						<h1>{{ district_name[i] }}</h1>
						<canvas id="{{district_name[i]}}" width="600" height="400"></canvas>
						<script>

						// bar chart data
						var barData = {
							labels : [
							{% for item in dates %}
								"{{ item }}",
							{% endfor %}
							],

							datasets : [{
							fillColor: "rgba(151,187,205,0.2)",
							strokeColor: "rgba(151,187,205,1)",
							pointColor: "rgba(151,187,205,1)",
							pointStrokeColor: "#fff",
							pointHighlightFill: "#fff",
							pointHighlightStroke: "rgba(151,187,205,1)",
							bezierCurve : false,
							data : [
						{% for item in district_data[i] %}
								{{ item }},
								{% endfor %}
								]
							}
					]
						}

						Chart.defaults.global.animationSteps = 50;
						Chart.defaults.global.tooltipYPadding = 16;
						Chart.defaults.global.tooltipCornerRadius = 0;
						Chart.defaults.global.tooltipTitleFontStyle = "normal";
						Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
						Chart.defaults.global.animationEasing = "easeOutBounce";
						Chart.defaults.global.responsive = false;
						Chart.defaults.global.scaleLineColor = "black";
						Chart.defaults.global.scaleFontSize = 16;

						// get bar chart canvas
						var mychart = document.getElementById("{{district_name[i]}}").getContext("2d");

						steps = 10
						max = {{ max_of_dis[i] }}
						// draw bar chart
						var LineChartDemo = new Chart(mychart).Line(barData, {
							scaleOverride: true,
							scaleSteps: steps,
							scaleStepWidth: Math.ceil(max / steps),
							scaleStartValue: 0,
							scaleShowVerticalLines: true,
							scaleShowGridLines : true,
							barShowStroke : true,
							scaleShowLabels: true,
							bezierCurve: false,
							});

						</script>
					</center>
					{% endfor %}
                </div>
			
				<div class="col-md-6" id="Pie_graph"></div>
                  <div class="col-md-3"></div>
                </div> -->
	</div>
</div>

<!-- Prediction -->
<div class="welcome_clicnic_area" style="padding-top: 50px; " id="predict">
	<div class="container">
		<div class="row align-items-center" style="display:flexbox;">
			<div class="col-1"></div>
			<div class="col-5">
				<center><h3 style="font-family: 'Roboto Slab'; font-size: medium; font-weight: 700;">PREDICTION FOR GROWTH TREND OF COVID-19 IN MAHARASHTRA</h3></center>
				<table class="table text-center table-hover table-borderless" style="font-family: 'Roboto';">
					<thead>
					  <tr>
						<th scope="col">City</th>
						<th scope="col">No. Of New Cases Predicted</th>
						<th scope="col">Predicted Growth Rate</th>
					  </tr>
					</thead>
					<tbody>
						<tr class="text-primary">                        
							<td>Mumbai</td>
							<td class="text-info">{{pm}}</td>
							<td class="text-danger">{{gm}}</td>
						</tr>
						<tr class="text-primary">                        
						<td>Pune</td>
						<td class="text-info">{{pp}}</td>
						<td class="text-danger">{{gp}}</td>
					  </tr>
					  <tr class="text-primary">                        
						<td>Thane</td>
						<td class="text-info">{{pt}}</td>
						<td class="text-danger">{{gt}}</td>
					  </tr>
					  <tr class="text-primary">                        
						<td>Nagpur</td>
						<td class="text-info">{{pnag}}</td>
						<td class="text-danger">{{gnag}}</td>
					  </tr>
					  <tr class="text-primary">
						<td>Nashik</td>
						<td class="text-info">{{pnas}}</td>
						<td class="text-danger">{{gnas}}</td>
					  </tr>
					</tbody>
				</table>
			</div>
			<div class="col-5">
				<center><h3 style="font-family: 'Roboto Slab'; font-size: medium; font-weight: 700;">PREDICTION FOR GROWTH TREND OF COVID-19 IN INDIA</h3></center>
				<table class="table text-center table-hover table-borderless" style="font-family: 'Roboto';">
					<tbody>
					  <tr class="text-primary">
						<td>No. of new cases predicted:</td>
						<td>{{pred_c}}</td>
					  </tr>
					  <tr class="text-danger">
						<td>No. of deaths predicted:</td>
						<td>{{pred_d}}</td>
					  </tr>
					  <tr class="text-success">
						<td>No. of recoveries predicted:</td>
						<td>{{pred_r}}</td>
					  </tr>
					  <tr class="text-info">
						<td>Growth Rate predicted:</td>
						<td>{{growth}}</td>
					  </tr>
					</tbody>
				</table>
			</div>
			<div class="col-1"></div>
		</div>
		<br>
		<i><center><caption>These predictions are based on our ML model running in the background.</caption></center></i>
	</div>  
  </div>  
  <!-- Prediction -->
			
            <div class="welcome_clicnic_area" style="padding-top: 40px;" id="map_start">
                <div class="container">
                    <h3 style="text-align: center; font-family: 'Roboto';">Blood Donation Requests Map</h3>
                    <br>
                    <br>
                    <div class="row align-items-center">
                        <div class="col-md-8" id="map" style="height: 480px; position: relative; overflow: hidden;">
                            
                        </div>
                        <div class="col-md-4">
                            <p>
                                <table class="myTablee">
                                    <tr class="myTRR">
                                      <td class="myTDD">0 - 100</td>
                                      <td class="myTDD" style="background-color: #fff0e1;"></td>
                                    </tr>
                                    <tr class="myTRR">
                                      <td class="myTDD">100 - 200</td>
                                      <td class="myTDD" style="background-color: #fdcf9f"></td>
                                    </tr>
                                    <tr class="myTRR">
                                      <td class="myTDD">200 - 300</td>
                                      <td class="myTDD" style="background-color: #fb8735"></td>
                                    </tr>
                                    <tr class="myTRR">
                                      <td class="myTDD">300 - 400</td>
                                      <td class="myTDD" style="background-color: #de4f05"></td>
                                    </tr>
                                    <tr class="myTRR">
                                      <td class="myTDD"> > 400</td>
                                      <td class="myTDD" style="background-color: #963003"></td>
                                    </tr>
                                  </table>
                                  <div class="text-danger h3" role="alert">
                                      <br>
                                    Mumbai has the highest requests for blood donation.
                                  </div>
                            </p>
                        </div>
                    </div>
                    <br><br><br><br><br>
            <center>
                <div class="w-100"></div>
                <div class="row align-items-center">
                <div class="col">                    
                    <a href="/mumbai" class="boxed-btn">Volunteers</a>
                </div>
                <div class="col align-items-center">                    
                    <a href="/medical" class="boxed-btn">Medicals</a>
                </div>
                <div class="col">                    
                    <a href="/sealeduser" class="boxed-btn">Sealed Area</a>
                </div>
            </div>
            <br><br><br><br><br>
            <div class="row align-items-center">
                <div class="col"></div>
                <div class="col"><a href="#start_page"><button class="boxed-btn"><strong>&#8593;</strong></button></a></div>
                <div class="col"></div>
            </div>
                </div>
            </center>
            </div>
            <!-- welcome_clicnic_area_end -->
            
            
            <!-- Emergency_contact end -->
            <!-- footer start -->
            <script>
                function myFunction(str){
                    if (str == 'line')
                    location.replace("{{ url_for('adminPageNew_line') }}")
                    else if (str == 'bar')
                        location.replace("{{ url_for('admin') }}")
                    else if (str == 'pie')
                        location.replace("{{ url_for('adminPageNew_pie') }}")
                }
            
            
            
            // Districts along with their latitude and longitude
            var districts = ['Mumbai', 'Mulund', 'Goregaon', 'Thane', 'Dadar', 'NAGPUR', 'AURANGABAD', 'BULDANA', 'AKOLA', 'LATUR']
            var latitude = [19.076090, 19.174673, 19.154493, 19.218330, 19.019554, 21.146633, 19.901054, 20.536846, 20.707228, 18.407957] 
            var longitude = [72.877426, 72.943108, 72.874664, 72.978088, 72.843733, 79.088860, 75.352478, 76.180870, 77.002960, 76.576767]
            
            // Initialise the Map to point to Maharashtra by default.
            
            function initMap(){
            // Map options
            var options ={
              zoom:11,
              
              center:{lat:19.117712, lng:72.882952}		
            }
            
            // New Map
            var map = new google.maps.Map(document.getElementById('map'), options);	
            
            // Add Markers to the Map
            // var i;
            // for (i = 1; i <= latitude.length; i++){
            // 	var marker = new google.maps.Marker({
            // 		position:{lat:latitude[i-1], lng:longitude[i-1]},
            // 		map:map,
            // 		title: districts[i-1],
            // 		icon:"/static/icons/"+i+".png"
            // 	});	
            // }
            var marker = new google.maps.Marker({
                  position:{lat:19.076090, lng:72.877426},
                  map:map,
                  title: districts[0],
                  icon:"/static/icons/moreThan400.png"
            });	
            marker.setOptions({'opacity': 0.5});
            var marker = new google.maps.Marker({
                  position:{lat:19.174673, lng:72.943108},
                  map:map,
                  title: districts[1],
                  icon:"/static/icons/0to100.png"
            });	
            marker.setOptions({'opacity': 0.5});
            var marker = new google.maps.Marker({
                  position:{lat:19.154493, lng:72.874664},
                  map:map,
                  title: districts[2],
                  icon:"/static/icons/100to200.png"
            });
            marker.setOptions({'opacity': 0.5});
            var marker = new google.maps.Marker({
                  position:{lat:19.218330, lng:72.978088},
                  map:map,
                  title: districts[3],
                  icon:"/static/icons/200to300.png"
            });
            marker.setOptions({'opacity': 0.5});
            var marker = new google.maps.Marker({
                  position:{lat:19.019554, lng:72.843733},
                  map:map,
                  title: districts[4],
                  icon:"/static/icons/300to400.png"
            });	
            marker.setOptions({'opacity': 0.5});
            }
            </script>
            
            
            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDi59lrA5-ETGIyZ8U5oAap0yN_dxQsR7g&callback=initMap"
            type="text/javascript">
            </script>
                
                <!-- <script>
            
                    // Districts along with their latitude and longitude
                    var districts = ['Mumbai', 'Mulund', 'Goregaon', 'Thane', 'Dadar', 'NAGPUR', 'AURANGABAD', 'BULDANA', 'AKOLA', 'LATUR']
                    var latitude = [19.076090, 19.174673, 19.154493, 19.218330, 19.019554, 21.146633, 19.901054, 20.536846, 20.707228, 18.407957] 
                    var longitude = [72.877426, 72.943108, 72.874664, 72.978088, 72.843733, 79.088860, 75.352478, 76.180870, 77.002960, 76.576767]
            
                    // Initialise the Map to point to Maharashtra by default.
                    
                    function initMap(){
                        // Map options
                        var options ={
                            zoom:11,
                            
                            center:{lat:19.117712, lng:72.882952}		
                        }
            
                        // New Map
                        var map = new google.maps.Map(document.getElementById('map'), options);	
            
                        // Add Markers to the Map
                        // var i;
                        // for (i = 1; i <= latitude.length; i++){
                        // 	var marker = new google.maps.Marker({
                        // 		position:{lat:latitude[i-1], lng:longitude[i-1]},
                        // 		map:map,
                        // 		title: districts[i-1],
                        // 		icon:"/static/icons/"+i+".png"
                        // 	});	
                        // }
                        var marker = new google.maps.Marker({
                                position:{lat:19.076090, lng:72.877426},
                                map:map,
                                title: districts[0],
                                icon:"/static/icons/moreThan400.png"
                        });	
                        marker.setOptions({'opacity': 0.5});
                        var marker = new google.maps.Marker({
                                position:{lat:19.174673, lng:72.943108},
                                map:map,
                                title: districts[1],
                                icon:"/static/icons/0to100.png"
                        });	
                        marker.setOptions({'opacity': 0.5});
                        var marker = new google.maps.Marker({
                                position:{lat:19.154493, lng:72.874664},
                                map:map,
                                title: districts[2],
                                icon:"/static/icons/100to200.png"
                        });
                        marker.setOptions({'opacity': 0.5});
                        var marker = new google.maps.Marker({
                                position:{lat:19.218330, lng:72.978088},
                                map:map,
                                title: districts[3],
                                icon:"/static/icons/200to300.png"
                        });
                        marker.setOptions({'opacity': 0.5});
                        var marker = new google.maps.Marker({
                                position:{lat:19.019554, lng:72.843733},
                                map:map,
                                title: districts[4],
                                icon:"/static/icons/300to400.png"
                        });	
                  marker.setOptions({'opacity': 0.5});
                    }
                </script> -->
            
                
                <!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDi59lrA5-ETGIyZ8U5oAap0yN_dxQsR7g&callback=initMap"
                type="text/javascript">
                </script> -->
            
            
<!-- welcome_clicnic_area_end -->


    
    
    <!-- <script>

		// Districts along with their latitude and longitude
		var districts = ['Mumbai', 'Mulund', 'Goregaon', 'Thane', 'Dadar', 'NAGPUR', 'AURANGABAD', 'BULDANA', 'AKOLA', 'LATUR']
		var latitude = [19.076090, 19.174673, 19.154493, 19.218330, 19.019554, 21.146633, 19.901054, 20.536846, 20.707228, 18.407957] 
		var longitude = [72.877426, 72.943108, 72.874664, 72.978088, 72.843733, 79.088860, 75.352478, 76.180870, 77.002960, 76.576767]

        // Initialise the Map to point to Maharashtra by default.
        
		function initMap(){
			// Map options
			var options ={
                zoom:11,
                
				center:{lat:19.117712, lng:72.882952}		
			}

			// New Map
			var map = new google.maps.Map(document.getElementById('map'), options);	

			// Add Markers to the Map
			// var i;
			// for (i = 1; i <= latitude.length; i++){
			// 	var marker = new google.maps.Marker({
			// 		position:{lat:latitude[i-1], lng:longitude[i-1]},
			// 		map:map,
			// 		title: districts[i-1],
			// 		icon:"/static/icons/"+i+".png"
			// 	});	
            // }
            var marker = new google.maps.Marker({
					position:{lat:19.076090, lng:72.877426},
					map:map,
					title: districts[0],
					icon:"/static/icons/moreThan400.png"
            });	
            marker.setOptions({'opacity': 0.5});
            var marker = new google.maps.Marker({
					position:{lat:19.174673, lng:72.943108},
					map:map,
					title: districts[1],
					icon:"/static/icons/0to100.png"
            });	
            marker.setOptions({'opacity': 0.5});
            var marker = new google.maps.Marker({
					position:{lat:19.154493, lng:72.874664},
					map:map,
					title: districts[2],
					icon:"/static/icons/100to200.png"
            });
            marker.setOptions({'opacity': 0.5});
            var marker = new google.maps.Marker({
					position:{lat:19.218330, lng:72.978088},
					map:map,
					title: districts[3],
					icon:"/static/icons/200to300.png"
            });
            marker.setOptions({'opacity': 0.5});
            var marker = new google.maps.Marker({
					position:{lat:19.019554, lng:72.843733},
					map:map,
					title: districts[4],
					icon:"/static/icons/300to400.png"
			});	
      marker.setOptions({'opacity': 0.5});
		}
	</script> -->

	
	<!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDi59lrA5-ETGIyZ8U5oAap0yN_dxQsR7g&callback=initMap"
	type="text/javascript">
	</script> -->

   
{% endblock %}