{% extends "layout.html" %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<style>
    /* * {box-sizing: border-box} */
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

</style>
{% endblock %}
{% block title %}

<div class="welcome_clicnic_area">
    <div class="container">
<div class="mainStick">
    <div style=" float:right; position: -webkit-sticky;position: sticky;top: 0; z-index: 10; width: 25%; opacity: 0.9; margin-right: -180px;">
        <div>
            <h3 class=" text-center" style="font-family: 'Roboto Slab';">Updates</h3>
            <font style="color: rgb(3, 74, 207); font-size: large; font-weight: 500;" id="demo"></font>
            <table class="table table-sm table-hover" >
                <tbody>
                  <tr class="text-primary" >
                      <td>Confirmed Cases</td>
                      <td>{{tot}}</td>
                  </tr>
                  <tr class="text-danger">
                    <td >Confirmed Deaths</td>
                    <td>{{dea}}</td>
                </tr>
                <tr class="text-success">
                    <td>Recovered Cases</td>
                    <td>{{rec}}</td>
                </tr>
                <tr class="text-warning">
                    <td>Active Cases</td>
                    <td>{{act}}</td>
                </tr>
                <tr style="color: blue;">
                    <td>New Cases</td>
                    <td>{{newcases}}</td>
                </tr>
                <tr style="color: green;">
                    <td>New Recoveries</td>
                    <td>{{newrec}}</td>
                </tr>
                <tr class="text-danger">
                    <td>New Deaths</td>
                    <td>{{newdea}}</td>
                </tr>
                </tbody>
              </table>
            <!-- <div class="">
                <h6 class="card-subtitle mb-2 text-muted" >
                        <font style="color: rgb(3, 74, 207); font-size: large; font-weight: 500;" id="demo">
                            
                        </font>
                    </h6>
                    <ul>
                          <li  style="color: blue;">
                            Confirmed Cases: {{tot}}
                          </li>
                          <li  style="color: crimson;">
                            Confirmed Deaths:  {{dea}}
                          </li>
                          <li  style="color: rgb(2, 151, 2);">
                            Recovered Cases: {{rec}}
                          </li>
                          <li  style="color: rgb(156, 141, 3);">
                            Active Cases: {{act}}
                          </li>
                          <li  style="color: blue;">
                            New Cases: {{newcases}}
                        </li>
                        <li  style="color: rgb(2, 151, 2);;">
                            New Recoveries: {{newrec}}
                        </li>
                        <li  style="color: crimson;">
                            New Deaths: {{newdea}}
                          </li>
                          
                        </ul> 
                        
                    </div>
                -->
        </div>
    </div>
    <div class="expert_doctors_area p-0">

<div class="row justify-content-center">
    <a href="#state_show"><button class="boxed-btn" style="margin-right: 30px;">State Wise Cases</button></a>
    <a href="#predict"><button class="boxed-btn" style="margin-right: 30px;">Predictions</button></a>
    <a href="#guidelines"><button class="boxed-btn" style="margin-right: 10px;">Guidelines</button></a>
    <br>
    <br>
    <br>
    <div class="col-lg-9 col-md-9">
        <div class="single_expert">
            <div class="expert_thumb">
                <img class = "myImg" src="static/img/plots/{{folder}}/india.png" alt="">
            </div>
            <div class="experts_name text-center">
                <h3>India </h3>
            </div>
        </div>
    </div>
</div>
</div>
<hr width="850px">
<!-- <div class="expert_doctors_area p-0">
        <div class="container" id="slideshowContainer">
            <div class="row justify-content-center">
                <div class="col-lg-9 col-md-9">
                    <div class="single_expert">
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <div class="expert_thumb" id="slideshowImages">
                            <img name="slide">
                        </div>
                        <div class="experts_name text-center">
                            <h3>State-wise Density of COVID-19 Positive Patients </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
<br>
<br>
<br>

<div class="expert_doctors_area p-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="slideshow-container" id="state_show">

                <div class="mySlides">
                  <img src="static/img/plots/{{folder}}/Maharashtra.png" style="width:100%">
                </div>
                
                <div class="mySlides">
                  <img src="static/img/plots/{{folder}}/Andhra Pradesh.png" style="width:100%">
                </div>
                
                <div class="mySlides">
                  <img src="static/img/plots/{{folder}}/Gujarat.png" style="width:100%">
                </div>

                <div class="mySlides">
                    <img src="static/img/plots/{{folder}}/Madhya Pradesh.png" style="width:100%">
                </div>
                
                <div class="mySlides">
                    <img src="static/img/plots/{{folder}}/Rajasthan.png" style="width:100%">
                </div>

                <div class='mySlides'>
                    <img src="static/img/plots/{{folder}}/Andaman and Nicobar.png" style="width=100%">
                </div>

                <div class='mySlides'>
                    <img src="static/img/plots/{{folder}}/Arunachal Pradesh.png" style="width=100%">
                </div>

                <div class='mySlides'>
                    <img src="static/img/plots/{{folder}}/Assam.png" style="width=100%">
                </div>

                <div class='mySlides'>
                    <img src="static/img/plots/{{folder}}/Assam.png" style="width=100%">
                </div>

                <div class='mySlides'>
                    <img src="static/img/plots/{{folder}}/Chandigarh.png" style="width=100%">
                </div>

                <div class='mySlides'>
                    <img src="static/img/plots/{{folder}}/Chhattisgarh.png" style="width=100%">
                </div>

                <div class='mySlides'>
                    <img src="static/img/plots/{{folder}}/Dadra and Nagar Haveli.png" style="width=100%">
                </div>

                <div class='mySlides'>
                    <img src="static/img/plots/{{folder}}/Daman and Diu.png" style="width=100%">
                </div>

                <div class='mySlides'>
                    <img src="static/img/plots/{{folder}}/Goa.png" style="width=100%">
                </div>

                <div class='mySlides'>
                    <img src="static/img/plots/{{folder}}/Haryana.png" style="width=100%">
                </div>

                <div class='mySlides'>
                    <img src="static/img/plots/{{folder}}/Himachal Pradesh.png" style="width=100%">
                </div>

                <div class='mySlides'>
                    <img src="static/img/plots/{{folder}}/Jammu and Kashmir.png" style="width=100%">
                </div>

                <div class='mySlides'>
                    <img src="static/img/plots/{{folder}}Jharkhand.png" style="width=100%">
                </div>

                <div class='mySlides'>
                    <img src="static/img/plots/{{folder}}/Karnataka.png" style="width=100%">
                </div>

                <div class='mySlides'>
                    <img src="static/img/plots/{{folder}}/Kerala.png" style="width=100%">
                </div>

                <div class='mySlides'>
                    <img src="static/img/plots/{{folder}}/Lakshadweep.png" style="width=100%">
                </div>

                
                    <div class='mySlides'>
                    <img src="static/img/plots/{{folder}}/Manipur.png" style="width=100%">
                </div>

                <div class='mySlides'>
                    <img src="static/img/plots/{{folder}}/Meghalaya.png" style="width=100%">
                </div>

                <div class='mySlides'>
                    <img src="static/img/plots/{{folder}}/Mizoram.png" style="width=100%">
                </div>

                <div class='mySlides'>
                    <img src="static/img/plots/{{folder}}/Nagaland.png" style="width=100%">
                </div>

                <div class='mySlides'>
                    <img src="static/img/plots/{{folder}}/NCT of Delhi.png" style="width=100%">
                </div>

                <div class='mySlides'>
                    <img src="static/img/plots/{{folder}}/Odisha.png" style="width=100%">
                </div>

                <div class='mySlides'>
                    <img src="static/img/plots/{{folder}}/Puducherry.png" style="width=100%">
                </div>

                <div class='mySlides'>
                    <img src="static/img/plots/{{folder}}/Punjab.png" style="width=100%">
                </div>

                <div class='mySlides'>
                    <img src="static/img/plots/{{folder}}/Sikkim.png" style="width=100%">
                </div>

                <div class='mySlides'>
                    <img src="static/img/plots/{{folder}}/Tamil Nadu.png" style="width=100%">
                </div>

                <div class='mySlides'>
                    <img src="static/img/plots/{{folder}}/Tamil Nadu.png" style="width=100%">
                </div>

                <div class='mySlides'>
                    <img src="static/img/plots/{{folder}}/Telangana.png" style="width=100%">
                </div>

                <div class='mySlides'>
                    <img src="static/img/plots/{{folder}}/Tripura.png" style="width=100%">
                </div>

                <div class='mySlides'>
                    <img src="static/img/plots/{{folder}}/Uttar Pradesh.png" style="width=100%">
                </div>

                <div class='mySlides'>
                    <img src="static/img/plots/{{folder}}/West Bengal.png" style="width=100%">
                </div>



                
                
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
                
            </div> 
            <div class="single_expert">
            
                <div class="expert_thumb">
               
                </div>
                <div class="experts_name text-center">
                    <center><h3>State-wise Density of COVID-19 Positive Patients </h3></center>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- NOICE -->
<div class="welcome_clicnic_area" style="padding-top: 50px;" id="predict">
    <div class="container">
        <div class="row align-items-center" style="display:flexbox;">
            <div class="col-1"></div>
            <div class="col-5">
                <center><h3 style="font-family: 'Roboto Slab'; font-size: medium; font-weight: 700;">PREDICTION FOR GROWTH TREND OF COVID-19 IN MAHARASHTRA</h3></center>
                <table class="table text-center table-hover table-borderless" style="font-family: 'Roboto';">
                    <thead>
                      <tr>
                        <th scope="col">City</th>
                        <th scope="col">No. Of New Cases Predicted</th>
                        <th scope="col">Predicted Growth Rate</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr class="text-primary">                        
                            <td>Mumbai</td>
                            <td class="text-info">{{pm}}</td>
                            <td class="text-danger">{{gm}}</td>
                        </tr>
                        <tr class="text-primary">                        
                        <td>Pune</td>
                        <td class="text-info">{{pp}}</td>
                        <td class="text-danger">{{gp}}</td>
                      </tr>
                      <tr class="text-primary">                        
                        <td>Thane</td>
                        <td class="text-info">{{pt}}</td>
                        <td class="text-danger">{{gt}}</td>
                      </tr>
                      <tr class="text-primary">                        
                        <td>Nagpur</td>
                        <td class="text-info">{{pnag}}</td>
                        <td class="text-danger">{{gnag}}</td>
                      </tr>
                      <tr class="text-primary">
                        <td>Nashik</td>
                        <td class="text-info">{{pnas}}</td>
                        <td class="text-danger">{{gnas}}</td>
                      </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-5">
                <center><h3 style="font-family: 'Roboto Slab'; font-size: medium; font-weight: 700;">PREDICTION FOR GROWTH TREND OF COVID-19 IN INDIA</h3></center>
                <table class="table text-center table-hover table-borderless" style="font-family: 'Roboto';">
                    <tbody>
                      <tr class="text-primary">
                        <td>No. of new cases predicted:</td>
                        <td>{{pred_c}}</td>
                      </tr>
                      <tr class="text-danger">
                        <td>No. of deaths predicted:</td>
                        <td>{{pred_d}}</td>
                      </tr>
                      <tr class="text-success">
                        <td>No. of recoveries predicted:</td>
                        <td>{{pred_r}}</td>
                      </tr>
                      <tr class="text-info">
                        <td>Growth Rate predicted:</td>
                        <td>{{growth}}</td>
                      </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-1"></div>
        </div>
        <br>
        <i><center><caption>These predictions are based on our ML model running in the background.</caption></center></i>
    </div>  
</div>  
<!-- NOICE -->

<!-- <table>
    <tr>
        <td>
            <div class="welcome_clicnic_area" style="padding-top: 0px;" id="predict">
                <div class="container">                    
                    <div class="row">
            <div class="col-6"></div>
            <div class="col-6">
                <center><h3 style="font-family: 'Roboto Slab'; font-size: medium; font-weight: 700;">PREDICTION FOR GROWTH TREND OF COVID-19 IN MAHARASHTRA</h3></center>
                <br>
                <ul>
                    <li class="myIndexLI">
                        <center><h5 style="font-family: 'Roboto Slab'; font-size: medium; font-weight: 300; color: darkblue;">Number of new cases predicted in Mumbai: {{pm}}</h5>
                        </li>
                        <li class="myIndexLI">
                            <center><h5 style="font-family: 'Roboto Slab'; font-size: medium; font-weight: 300; color: darkblue;">Growth Rate predicted in Mumbai: {{gm}}</h5></center>
                    </li>
                    <li class="myIndexLI">
                        <center><h5 style="font-family: 'Roboto Slab'; font-size: medium; font-weight: 300; color: darkblue;">Number of new cases predicted in Pune: {{pp}}</h5></center>
                    </li>
                    <li class="myIndexLI">
                        <center><h5 style="font-family: 'Roboto Slab'; font-size: medium; font-weight: 300; color: darkblue;">Growth Rate predicted in Pune: {{gp}}</h5></center>
                    </li>
                    <li class="myIndexLI">
                        <center><h5 style="font-family: 'Roboto Slab'; font-size: medium; font-weight: 300; color: darkblue;">Number of new cases predicted in Thane: {{pt}}</h5></center>
                    </li>
                    <li class="myIndexLI">
                        <center><h5 style="font-family: 'Roboto Slab'; font-size: medium; font-weight: 300; color: darkblue;">Growth Rate predicted in Thane: {{gt}}</h5></center>
                    </li>
                    <li class="myIndexLI">
                        <center><h5 style="font-family: 'Roboto Slab'; font-size: medium; font-weight: 300; color: darkblue;">Number of new cases predicted in Nagpur: {{pnag}}</h5></center>
                    </li>
                    <li class="myIndexLI">
                        <center><h5 style="font-family: 'Roboto Slab'; font-size: medium; font-weight: 300; color: darkblue;">Growth Rate predicted in Nagpur: {{gnag}}</h5></center>
                    </li>
                    <li class="myIndexLI">
                        <center><h5 style="font-family: 'Roboto Slab'; font-size: medium; font-weight: 300; color: darkblue;">Number of new cases predicted in Nashik: {{pnas}}</h5></center>
                    </li>
                    <li class="myIndexLI">
                        <center><h5 style="font-family: 'Roboto Slab'; font-size: medium; font-weight: 300; color: darkblue;">Growth Rate predicted in Nashik: {{gnas}}</h5></center>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</td>
<td >
<div class="welcome_clicnic_area" style="padding-top: 0px;">
    <div class="container">
        <div class="row">
            <div class="col-6"></div>
            <div class="col-6">
                <center><h3 style="font-family: 'Roboto Slab'; font-size: medium; font-weight: 700;">PREDICTION FOR GROWTH TREND OF COVID-19 IN INDIA</h3></center>
                <br>
                <ul>
                    <li class="myIndexLI">
                        <center><h5 style="font-family: 'Roboto Slab'; font-size: medium; font-weight: 300; color: darkblue;">Number of new cases predicted: {{pred_c}}</h5>
                        </li>
                        <li class="myIndexLI">
                            <center><h5 style="font-family: 'Roboto Slab'; font-size: medium; font-weight: 300; color: darkblue;">Number of deaths predicted: {{pred_d}}</h5></center>
                    </li>
                    <li class="myIndexLI">
                        <center><h5 style="font-family: 'Roboto Slab'; font-size: medium; font-weight: 300; color: darkblue;">Number of recoveries predicted: {{pred_r}}</h5></center>
                    </li>
                    <li class="myIndexLI">
                        <center><h5 style="font-family: 'Roboto Slab'; font-size: medium; font-weight: 300; color: darkblue;">Growth Rate predicted: {{growth}}</h5></center>
                    </li>
                </ul>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
</div>
</td>
</tr>
</table> -->
    
<hr width="850px">
<div class="welcome_clicnic_area" id="guidelines">
    <div class="row ">
        <div class="col-2">
            <!-- <div class="card" style="box-shadow: 10px 10px aliceblue;">
                <h3 class="card-header text-center " style="font-family: 'Roboto Slab';">Updates</h3>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted" >
                            <font style="color: rgb(3, 74, 207); font-size: large; font-weight: 500;" id="demo">
                                
                            </font>
                        </h6>
                        <ul>
                              <li class="myIndexLI" style="color: blue;">
                                Confirmed Cases: {{tot}}
                              </li>
                              <li class="myIndexLI" style="color: crimson;">
                                Confirmed Deaths:  {{dea}}
                              </li>
                              <li class="myIndexLI" style="color: lime;">
                                Recovered Cases: {{rec}}
                              </li>
                              <li class="myIndexLI" style="color: khaki;">
                                Active Cases: {{act}}
                              </li>
                              <li class="myIndexLI" style="color: blue;">
                                New Cases: {{newcases}}
                            </li>
                            <li class="myIndexLI" style="color: lime;">
                                New Recoveries: {{newrec}}
                            </li>
                            <li class="myIndexLI" style="color: crimson;">
                                New Deaths: {{newdea}}
                              </li>
                              
                            </ul>
                            
                        </div>
            </div> -->
                </div>
                <div class="col-8">
                    <div class="card" style="box-shadow: 10px 10px aliceblue;">
                        <h3 class="card-header text-center " style="font-family: 'Roboto Slab';">Guidelines</h3>
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted">
                                <font style="color: rgb(3, 74, 207); font-size: large; font-weight: 500;">
                                    <br>
                                </font>
                            </h6>
                            <ul>
                              <li>
                                  <h3 style="color: rgb(3, 74, 207); font-size: large; font-weight: 500;">Washing Hands</h3>
                                  <ul>
                                      <li class="myIndexLI">
                                          Wash hands thoroughly and regularly, taking atleast 20 seconds for each wash.
                                        </li>
                                <li class="myIndexLI">
                                    Use of any disinfecting soap and water is recommended for washing of hands. It is also important to dry hands completely, once washed.
                                </li>
                                <li class="myIndexLI">
                                    Use an alcohol-based hand sanitizer if soap and water and not immediately accessible.
                                </li>
                                <li class="myIndexLI">
                                    The step-by-step method to wash hands is available<a href="https://www.nhs.uk/live-well/healthy-body/best-way-to-wash-your-hands/"> here</a>
                                </li>
                            </ul>
                        </li>
                        <br>
                              <li>
                                  <h3 style="color: rgb(3, 74, 207); font-size: large; font-weight: 500;">Mask Usage</h3>
                                  <ul>
                                      <li class="myIndexLI">
                                    Medical masks (like surgical masks and N95 respirators) should be strictly reserved for health care workers and COVID-19 positive patients. The COVID-negative, asymptomatic populace should wear cloth masks /homemade masks.
                                </li>
                                <li class="myIndexLI">
                                    It is recommended to always wear a mask when stepping outside your residence.
                                </li>
                                <li class="myIndexLI">
                                    Ensure that the mask covers the nose and mouth completely at all times. Check for gaps between face and mask.
                                </li>
                                <li class="myIndexLI">
                                    Always wear a mask with clean hands. Avoid touching the mask while using it.
                                </li>
                                <li class="myIndexLI">
                                    Medical masks must be disposed after use while non medical measks must be thoroughly washed after every use.
                                </li>
                                <li class="myIndexLI">
                                    Masks are not be mistaken as a substitute for following other hygiene practices like hand washing and social distancing.
                                </li>
                                <li class="myIndexLI">
                                    The proper procedure to wear masks can be found <a href="https://www.youtube.com/watch?v=qilLP_UnaHg">here</a>.
                                </li>
                            </ul>
                        </li>
                        <br>
                              <li>
                                  <h3 style="color: rgb(3, 74, 207); font-size: large; font-weight: 500;">Social Distancing</h3>   
                                <ul>
                                    <li class="myIndexLI">
                                        Maintain a distance of atleast 6 feet from other people.
                                    </li>
                                    <li class="myIndexLI">
                                        Gathering in groups in this current situation is strongly condemned.
                                    </li>
                                    <li class="myIndexLI">
                                        Avoid crowded places and mass gatherings such as public transport, workplaces, educational institutions, religious institutions etc.
                                    </li>
                                    <li class="myIndexLI">
                                        Any physical contact such as shaking hands, hugging etc should be avoided.
                                    </li>
                                </ul> 
                            </li>
                          </ul>
                          
                        </div>
                    </div>
                    
                    <!-- <center><h2>Guidelines</h2></center><br>
                        <ul>
                            <li class="myIndexLI">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo dolores id impedit provident sapiente totam ullam, maiores at accusantium voluptas enim ipsum error ratione. Velit facere voluptatem repudiandae ipsum vero?</li>
                        <li class="myIndexLI">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo dolores id impedit provident sapiente totam ullam, maiores at accusantium voluptas enim ipsum error ratione. Velit facere voluptatem repudiandae ipsum vero?</li>
                        <li class="myIndexLI">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo dolores id impedit provident sapiente totam ullam, maiores at accusantium voluptas enim ipsum error ratione. Velit facere voluptatem repudiandae ipsum vero?</li>
                    </ul> -->
                </div>
            <div class="col-2"></div>
        </div>
    </div>
</div>
<!-- Main Stick end -->
</div>
</div> 

    
    <div class="welcome_clicnic_area" style="padding-top: 0px; margin-top: -120px;">
        <div class="container">
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                    <center><h5 style="font-family: 'Roboto Slab'; font-size: medium; font-weight: 700;">We Stand With Our Yodhas Fighting On The Frontlines</h5></center>
                </div>
                <div class="col-4"></div>
            </div>
        </div>
    </div>

    <!-- welcome_clicnic_area_end -->

    <!-- depertment_area_start  -->

    <!-- depertment_area_end  -->

    <!-- expert_doctors_area_start -->

    <!-- expert_doctors_area_end -->



    <!-- quality_area_start  -->

    <!-- quality_areaend  -->

    <!-- Emergency_contact start -->

    <!-- Emergency_contact end -->
    <!-- footer start -->

<script>

    var month = new Array();
    month[0] = "January";
    month[1] = "February";
    month[2] = "March";
    month[3] = "April";
    month[4] = "May";
    month[5] = "June";
    month[6] = "July";
    month[7] = "August";
    month[8] = "September";
    month[9] = "October";
    month[10] = "November";
    month[11] = "December";

    var d = new Date();
    var n = month[d.getMonth()];
    var date = d.getDate();
    date = date.toString();
    document.getElementById("demo").innerHTML = date +" "+ n;

    // SLIDE SHOW
    var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
  }
  
  slides[slideIndex-1].style.display = "block";  
  
}
    // SLIDE SHOW END

    // var i=0;
    // var images=[];
    // var time=3000;

    // images[0]='static/img/plots/{{folder}}/india.png';
    // images[1]='static/img/plots/{{folder}}/Andaman and Nicobar.png';
    // images[2]='static/img/plots/{{folder}}/Andhra Pradesh.png';
    // images[3]='static/img/plots/{{folder}}/Arunachal Pradesh.png';
    // images[4]='static/img/plots/{{folder}}/Assam.png';
    // images[5]='static/img/plots/{{folder}}/Assam.png';
    // images[6]='static/img/plots/{{folder}}/Chandigarh.png';
    // images[7]='static/img/plots/{{folder}}/Chhattisgarh.png';
    // images[8]='static/img/plots/{{folder}}/Dadra and Nagar Haveli.png';
    // images[9]='static/img/plots/{{folder}}/Daman and Diu.png';
    // images[10]='static/img/plots/{{folder}}/Goa.png';
    // images[11]='static/img/plots/{{folder}}/Gujarat.png';
    // images[12]='static/img/plots/{{folder}}/Haryana.png';
    // images[13]='static/img/plots/{{folder}}/Himachal Pradesh.png';
    // images[14]='static/img/plots/{{folder}}/Jammu and Kashmir.png';
    // images[15]='static/img/plots/{{folder}}Jharkhand.png';
    // images[16]='static/img/plots/{{folder}}/Karnataka.png';
    // images[17]='static/img/plots/{{folder}}/Kerala.png';
    // images[18]='static/img/plots/{{folder}}/Lakshadweep.png';
    // images[19]='static/img/plots/{{folder}}/MadhyaPradesh.png';
    // images[20]='static/img/plots/{{folder}}/Maharashtra.png';
    // images[21]='static/img/plots/{{folder}}/Manipur.png';
    // images[22]='static/img/plots/{{folder}}/Meghalaya.png';
    // images[23]='static/img/plots/{{folder}}/Mizoram.png';
    // images[24]='static/img/plots/{{folder}}/Nagaland.png';
    // images[25]='static/img/plots/{{folder}}/NCT of Delhi.png';
    // images[26]='static/img/plots/{{folder}}/Odisha.png';
    // images[27]='static/img/plots/{{folder}}/Puducherry.png';
    // images[28]='static/img/plots/{{folder}}/Punjab.png';
    // images[29]='static/img/plots/{{folder}}/Rajasthan.png';
    // images[30]='static/img/plots/{{folder}}/Sikkim.png';
    // images[31]='static/img/plots/{{folder}}/Tamil Nadu.png';
    // images[32]='static/img/plots/{{folder}}/Tamil Nadu.png';
    // images[33]='static/img/plots/{{folder}}/Telangana.png';
    // images[34]='static/img/plots/{{folder}}/Tripura.png';
    // images[35]='static/img/plots/{{folder}}/Uttar Pradesh.png';
    // images[36]='static/img/plots/{{folder}}/West Bengal.png';

    
    

    // function changeImg(){
    //     document.slide.src=images[i];

    //     if(i < images.length -1){
    //         i++;
    //     }
    //     else{
    //         i=0;
    //     }
    //     setTimeout("changeImg()", time);
    // }

    // window.onload=changeImg;







</script>
{% endblock %}