{% extends "layout.html" %}
{% block title %}





    <!-- bradcam_area_start  -->
    <div class="bradcam_area breadcam_bg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>Medical</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- bradcam_area_end  -->

<div class="quality_area">
    <div class="container">
            <div class="row justify-content-center">

                <table id= "mytable" class="table table-hover ">
                    <thead class="thead-dark">
                        <th>Name</th>
                        <th>Branch</th>
                        <th>Hospital</th>
                        <th>Contact Number</th>
                        <th>Slot</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Priyanka Chopra</td>
                            <td>Vashi</td>
                            <td>Kasturba</td>
                            <td>1234567823</td>
                            <td>Afternoon</td>
                        </tr>
            
                        <tr>
                            <td>Vishal Shekhar</td>
                            <td>Thane</td>
                            <td>M. K. Gandhi</td>
                            <td>0987654321</td>
                            <td>Morning</td>
                        </tr>
            
                        <tr>
                            <td>Dheeraj Kapoor </td>
                            <td>Sion</td>
                            <td>Sion</td>
                            <td>1234567892</td>
                            <td>Evening</td>
                        </tr>
            
                        <tr>
                            <td>Namita Singh</td>
                            <td>Andheri</td>
                            <td>M.G.M.</td>
                            <td>1234567890</td>
                            <td>Afternoon</td>
                        </tr>
                    </tbody>
                </table>
            
            </div>  
    </div>
</div>




    

 
{% endblock %}