
{% extends "layout.html" %}
{% block title %}

    

    <div class="book_apointment_area">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-lg-7">
                    <div class="popup_box ">
                        <div class="popup_inner">
                            <h3>
                            <span>login</span>
                            </h3>
                           <form action="/yodhaloggedin">
                                <div class="row">
                                    
                                    <div class="col-xl-9">
                                        <input type="text" name="username" placeholder="Enter your id no">
                                    </div>
                                    
                                   
                                   
                                    <div class="col-xl-4">
                                        <button type="submit" href="yodhaloggedin" class="boxed-btn3">login</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

   

    <!-- Emergency_contact start -->
    <div class="Emergency_contact">
        <div class="Emergency_contact_inner ">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="single_emergency">
                            <div class="info">
                                <span>help the ones in need</span>
                                <h3>Donate money</h3>
                            </div>
                            <div class="info_button">
                                <a href="/donate" class="boxed-btn3-white">Donate now
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="single_emergency align-items-center d-flex justify-content-end">
                            <div class="icon">
                                <i class="flaticon-call"></i>
                            </div>
                            <div class="info">
                                <span>Covid helpline Care</span>
                                <h3>8046110007</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Emergency_contact end -->
    <!-- footer start -->
 

   
{% endblock %}